{% extends "layout.html" %}
{% block body %}
<div class="card bg-dark d-flex flex-column align-items-center justify-content-around my-4">
    <h1 class="text-center text-primary">Add Sensei</h1>
    <form action="/new_sensei" method="POST">
        <label for="name" class="text-white">Name</label>
        <input type="text" name="name" id="name" class="form-control"required>
        <label for="user_name" class="text-white">User Name</label>
        <input type="text" name="user_name" id="user_name" class="form-control"required>
        <label for="password" class="text-white">Password</label>
        <input type="password" name="password" id="password" class="form-control"required>
        <label for="confirm-password" class="text-white">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password" class="form-control"required>
        <label for="authority" class="text-white">Role</label>
        <select name="authority" id="authority" class="form-control" required>
            <option value="blarg" disabled selected hidden>Select Role</option>
            {% if session['authority'] < 5 %}
            <option value="1">Sensei</option>
            <option value="2">Lead Sensei/Assistant Manager</option>
            {% if session['authority']>3 %}
            <option value="3">Center Director</option>
            {% endif %}
            {% else %}
            <option value="4">Admin</option>
            {% endif %}
        </select>
        {% with messages = get_flashed_messages()%}
        {% if messages%}
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <input type="submit" value="Add Sensei" class="btn btn-secondary p-1">
    </form>
    <a href="/" class="btn btn-secondary m-1">Home</a>
</div>
{% endblock %}