{% extends "layout.html" %}
{% block body %}
<div class="card bg-dark d-flex flex-column align-items-center justify-content-around my-4">
    <h1 class="text-center text-primary">Sensei Login</h1>
    <form action="/sensei_login_submit" method="POST">
        <label for="user_name" class="text-white">User Name</label>
        <input type="text" name="user_name" id="user_name" class="form-control">
        <label for="password" class="text-white">Password</label>
        <input type="password" name="password" id="password" class="form-control">
        <input type="submit" value="Login" class="btn btn-secondary p-1">
    </form>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    {% for message in messages %}
    <p class="text-danger">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/login">Ninja Login</a>
</div>
{% endblock %}